@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Playfair+Display:400,700');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

body {
    overflow-x:hidden;
}
*, button:focus {
    outline: none;
    text-decoration: none;
}

.oveflow-hidden, .oveflow-hidden img, .g-image, .g-image img, .gd-wrap, .hover-desc {
    transition: all .7s;
}
.resume-section {
    font-family: '游ゴシック体', 'Yu Gothic', 'YuGothic', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;
}

.section1 {
    font-size: 60px;
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    letter-spacing: -3px;
    clear: both;
} 
a.maglink {
    text-decoration: none;
    color: rgba(255, 89, 0, 1);
}

/*slider*/
.sticky-container {
    background: #c5b3ff;
}
.sticky-container{
  padding-top: 40px;
}
.sticky-container.slider_1 {
    background-color: #ff5900;
}
#new-sticky-container{
    height:4500px !important;
}
#rcb-sticky-container{
    height:3200px !important;
}
#prova-sticky-container{
   height:4800px !important;
}
.rcb-sticky-container section.custom_section, #rcb-sticky-container section.custom_section,   #prova-sticky-container section.custom_section {
    max-width: 400px;
    display: flex;
    margin: 4% 40px 4% 40px;
}
main.custom_main {
    overflow-x: hidden;
    display: flex;
    position: sticky;
    top:0;
}
section.custom_section {
    margin: 10% 0px 10% 20px;
}
#new-sticky-container section.custom_section {
    max-width: 350px;
    display: flex;
    margin: 10% 0px 10% 20px;
}
.wbx-sticky-container section.custom_section {
    margin: 10% 80px 10% 80px;
}
section.small_section {
    min-width: 20vw;
}
h1.custom_heading {
    font-size: 40px;
    text-decoration: none;
    text-transform: none;
    color: rgba(0, 0, 0, 1);
    font-family: Proto Grotesk;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 1.1px;
    font-family: 'DM Mono';
    text-transform: lowercase;
}
/* section:nth-child(even) {
background-color: teal;
color: white;
} */

.read-article{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999;
    color: #000;
    background: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: arial;
    text-decoration: none;
    box-shadow: rgb(50 50 93 / 25%) 0 0 100px -20px, rgb(0 0 0 / 30%) 0 0 60px -15px;
}
.custom_section img {
    width: 50vw;
}
.read-article:hover{
    background: #d5d5d5;
    box-shadow: rgb(50 50 93 / 25%) 0 0 100px -20px, rgb(0 0 0 / 30%) 0 0 60px 0px;
}
iframe[sandbox] .read-article{
    display: none;
}



/* slider 3 */
.slider_3 {
    background-color: #c5b3ff;
}
.section.section2 {
    background-color: #DDFF00;
    padding: 52px;
}
.section.section2 a {
    text-decoration: none;
    color: black;
}
.section.section2 img {
    width: 100%;
    display: none;
}
.BERGWERK:hover img.BERGWERK-img {
    display: block !important; 
}
.BERGWERK:hover img.BERGWERK-img {
    display: block !important;
}
div#horizontal_slider .custom_container {
    width: 1024px;
    margin: 0 auto;
}
.paragraph-1 {
    color: rgba(34, 34, 34, 1);
    font-family: Nobel;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
}
.style-c278d0f4-9adb-476b-8308-11f9e02365db {
    font-family: Proto Grotesk;
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
    font-style: normal;
    text-align: left;
}
div#horizontal_slider .menus {
    margin-top: 12%;
}
div#horizontal_slider .menus p {
    margin-bottom: 0;
}
div#horizontal_slider p.menus_heading {
    text-decoration: underline;
}
.underline {
    text-decoration: underline;
}
.block_section {
    margin-top: 12%;
}

/* svg image section css */

div#svg_img p.svg_img_name {
    position: absolute;
    top: 105px;
    left: 13px;
    right: 0;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, 1);
    font-size: 26px;
    font-family: Proto Grotesk;
}

div#svg_img p.svg_img_submenu {
    margin: 0;
    text-align: center;
    margin-left: 13px;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
    font-family: Proto Grotesk;
    font-style: normal;
    font-weight: 300;
}
div#svg_img .svg_img_description {
    margin-top: 12px;
}
div#svg_img .col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 12.333333%;
    max-width: 12.333333%;
}

.svg_img_description {
    opacity: 0;
    z-index: 9;
    transition: opacity 1s ease;
}

.col-md-3:hover .svg_img_description {
    opacity: 1;
}

/* Competitive Analysis section */
div#competitive_analysis .link-1 {
    text-decoration: none;
    padding-bottom: 1px;
    background: linear-gradient(to right, rgba(0, 120, 255, 1) 0%, rgba(0, 120, 255, 1) 100%) 0 100%/1px 1px repeat-x;
    color: rgba(0, 120, 255, 1);
}

/* interview and rounded images section  */
.image.img3 {
    top: -235px;
    left: 244px;
    position: relative;
    width: 500px;
}
.image.img2 {
    position: relative;
    left: 115px;
    width: 500px;
}
.image.img1 {
    height: 100.63px;
    width: 500px;     
}
img.image_width {
    width: 500px;
}
.imageoverimage {
    text-align: -webkit-center;
    margin-right: 250px;
}


/* flow chart image */
.flowchart_img img {
    width: 1000px;
}

.flowchart_img {
    width: 100%;
    text-align: center;
}

.multiple_images img {
    width: 100%;
}


/*1-10-2021 productDevelopment.html*/
.large-title {
    font-weight: 630;
    font-size: 130px;
    line-height: 90px;
    letter-spacing: -4px;
    font-style: normal;
    font-variation-settings: 'wght' 600;
    text-align: left;
    padding-bottom: 30px;
    font-feature-settings: "liga" 0, "rlig" 0, "dlig" 0, "hlig" 0, "smcp" 0;
    -webkit-line-break: after-white-space;
    white-space: pre-wrap;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    overflow-wrap: break-word;
}
.scroll-sections {
    background: #e9eaf8;
}
.space-5 {
    height: 700px;
}
.bg-img-hero-center, .top-stuck img, .card {
    border-radius: 8px;
}
.bg-img-hero-center {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px;
}
img.card-img-top {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.dark-purple, .hr, .vr {
    background-color: #894eff;
}
.text-purple {
    color: #894eff;
}
.t-minus {
    margin-top: -20px ! important;
}
.hr {
    width: 100%;
    height: 0.13rem;
    padding: 0.06rem;
}
.vl {
    border-left: 0.18rem solid #894eff;
}
.vr {
    width: 2px;
    height: 100%;
}
.card {
    top: 150px;
    font-weight: 500;
}
li.dark-purple {
    width: 40px;
    height: 40px;
    font-size: 12px;
}
.p-circle-animate, .p-circle-animate h1 {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(-50%, -50%);
}
.p-circle-animate {
    top: 45%;
    width: 186px;
    right: -70px;
    height: auto;
    z-index: 318;
}
.p-circle-animate img, .p-circle-animate, .p-circle-animate h1, .circle-animate,.top-stuck .position-relative {
    opacity: 1 ! important;
}
.animate-title {
    color:rgba(233, 233, 244, 1);
}
.circle-animate {
    animation-name: animation-rotate;
    animation-duration: 30s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}
.left-animate {
    left: 50px;
}
@keyframes animation-rotate {
    0% {
        transform: translate(0px, 0px) rotate(
            0deg) scale(1);
        opacity: 1;
        animation-timing-function: linear;
    }
    100% {
        transform: translate(0px, 0px) rotate(
            360deg) scale(1);
        opacity: 1;
    }
}

/*slick slider*/
.slick-carousel .slick-next, .slick-carousel .slick-prev {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 16px;
    transition: 0.6s ease;
    user-select: none;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.slick-carousel .slick-next:hover, .slick-carousel .slick-prev:hover {
    background-color: #e9eaf8;
    opacity: 1;
}

.slick-carousel .slick-next:hover::before, .slick-carousel .slick-prev:hover::before {
    color: #000;
}

.slick-carousel .slick-prev {
    left: 20px;
}
.slick-carousel .slick-next {
    right: 20px;
}
.slick-carousel .slick-prev:before {
    content: "\f104";
}
.slick-carousel .slick-next:before {
    content: "\f105";
}
.slick-carousel .slick-next::before, .slick-carousel .slick-prev::before {
    color: #e9eaf8;
    font-size: 36px;
    font-weight: 600;
    font-family: 'Font Awesome 6 Free';
}
.slick-carousel .slick-dots {
    bottom: 0;
}

.slick-carousel .slick-dots li {
    background: transparent;
    border-radius: 50%;
    border: 1px solid #e9eaf8;
    opacity: 1;
    width: 13px;
    height: 13px;
}
.slick-carousel .slick-dots li.slick-active {
    background: #e9eaf8;
}

.slick-carousel .slick-dots li.slick-active button:before, .slick-carousel .slick-dots li button:before {
    opacity: 1;
    color: transparent;
}


/*Gallery readymag forFun.html 01-10-2021*/
.g-image img {
    max-height: 380px;
    min-height: 380px;
}
.g-desc h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 1.2;
}

.g-desc {
    background: rgb(255, 199, 188);
    margin-top: -60px;
}

.g-image:hover img {
    transform: translateY(-40px);
}
.hover-desc {
    opacity: 0;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gd-wrap:hover .hover-desc {
    opacity: 1;
}
.g-image img {
    background: #f6f6f6;
    padding: 15px;
}

.col-md-4:last-child .g-desc {
    background-color: #cbf1f7;
}
.col-md-4:first-child .g-desc {
    color: #fff;
    background-color: #e96565;
}
.col-md-4:nth-child(2) .g-desc {
    background-color: #d4d46f;
}
.col-md-4:nth-child(3) .g-desc {
    background-color: #dcd6fd;
}
.col-md-4:nth-child(4) .g-desc {
    color: #fff;
    background-color: #10130b;
}
.col-md-4:nth-child(5) .g-desc {
    color: #fff;
    background-color: #db3750;
}
.col-md-4:nth-child(6) .g-desc {
    background-color: #d3c2a8;
}
.col-md-4:nth-child(7) .g-desc {
    background-color: #c9cbc6;
}
.col-md-4:nth-child(8) .g-desc {
    background-color: #00b0e9;
}

/*tangibleStorytelling.html*/
:root {
    --button-size: 22px;
    --button-offset: 22px;
    --border-color: #e44b4c;

    --button-size-md: 30px;
    --button-offset-md: 30px;

    --gallery-item-size: 300px;
    --gallery-item-size-md: 600px;
    --red-color: #fd6170;
}
.single-row p, .grid p, .grid ul a {
    color: #000;
    font-size: 18px;
    font-family: '游ゴシック体', 'Yu Gothic', 'YuGothic', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;
    font-weight: 500;
    line-height: 1.6;
}
.oveflow-hidden, .oveflow-hidden img, .g-image, .g-image img, .gd-wrap, .hover-desc {
    transition: all .7s;
}
.border-btm {
    border-bottom: 2px solid #e5e5e5;
}
.oveflow-hidden::before {
    content: "";
    background: #F5F0FF;
    position: absolute;
    margin: auto;
    width: 0px;
    height: 0px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    border: 2px solid #8c53ff;
    z-index: 1;
}
.oveflow-hidden.hover::before, .oveflow-hidden:hover::before {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.oveflow-hidden.hover img:last-of-type, .oveflow-hidden:hover img:last-of-type {
    opacity: 1;
    z-index: 2;
    display: initial;
}
.oveflow-hidden img:last-of-type, .single-row img, .bubble-shape .prj-img:before, .bubble-shape .prj-img:after {
    position: absolute;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
}
.oveflow-hidden img:last-of-type {
    opacity: 0;
    height: 320px;
}
.single-row img.rotateY {
    transform: rotateY(180deg);
    left: 0;
    top: 0;
}

.grid-item {
    height: 380px;
    width: 100%;
    overflow: hidden;
}
.grid .grid-item {
    border: 1px solid #e5e5e5;
}
.p-title h2 {
    color: gray;
    text-shadow: 2px 2px #000;
}
.oveflow-hidden .h-o1 img:last-of-type{
    opacity: 1;
}
.oveflow-hidden.hover .right-top-shape:after, .oveflow-hidden:hover .right-top-shape:after, .oveflow-hidden.hover .h-o1 img:last-of-type, .oveflow-hidden:hover .h-o1 img:last-of-type{
    opacity: 0;
}

/*shapes*/
.star-shape:before, .star-shape:after {
    display: block;
    content: "";
    position: relative;
    border-style: solid;
    height: 0;
    width: 0;
    z-index: -1;
    top: 3em;
}
.star-shape:before {
    border-color: transparent transparent #e7f7f8 transparent;
    border-width: 0 10em 13.66em 10em;
}
.star-shape:after {
    border-color: #e7f7f8 transparent transparent transparent;
    border-width: 13.66em 10em 0 10em;
    top: -5em;
}

h2.circle-shape {
    font-family: 'DM Mono';
    width: 160px;
    height: 160px;
    background: rgb(231 247 248);
    color: #000;
}
.square-shape {
    background: #e7f7f8;
}
.grid img {
    max-height: 260px;
}
.square-shape .grid img {
    max-height: 180px;
}
.diagonal-shape .prj-img {
    width: 100%;
    max-width: 200px;
    height: 100%;
    background: #e7f7f8;
    position: relative;
    padding: 10px;
}
.diagonal-shape .prj-img:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 25px solid #e7f7f8;
}
.diagonal-shape .prj-img:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 25px solid #e7f7f8;
}

.trianle-shape .prj-img:after {
    content: " ";
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid #e7f7f8;
}
.bottom-triangle-shape:after {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 100px solid var(--red-color);
    border-left: 100px solid transparent;
    content: " ";
    bottom: 0;
    right: 0;
    z-index: -1;
}
.left-triangle-shape:after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 380px solid #e7f7f8;
    border-right: 380px solid transparent;
    z-index: -1;
}
.top-triangle-shape:after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 100px solid var(--red-color);
    border-right: 100px solid transparent;
}   
.right-top-shape:after {
    width: 0;
    height: 0;
    border-bottom: 380px solid var(--red-color);
    border-left: 474px solid transparent;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    z-index: -1;
}
.z-index-1 {
    z-index: 1;
}
.z-index-2 {
    z-index: 2;
}
.z-index--1 {
    z-index: -1;
}
/*Home page
Baneer Section */
section#photos {
    background: url('../image/covershort.png');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    position: relative;
    background-size: cover;
    padding: 80px 0px;
}
section#photos::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(to bottom left, #f4fdff, #cbf1f7);
    opacity: 0.3;
}
.banner_content p {
    font-family: 'DM Mono';
    z-index: 24;
    line-height: 1.4em;
    font-size: 2.36vw;
    text-align: left;
    text-shadow: 1px 1px white;
    color: #000;
}
.bg-img {
    background: url('../image/img.png');
    background-repeat: no-repeat;
    opacity: 1;
    background-size: contain;
    background-position: top 0px right 0px;
    background-size: 370px;
}
.banner_content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    min-height: 600px;
}
section#photos .container.bg-img {
    max-width: 1195px;
}
/*keyvisual_section*/
#keyvisual_section div#keyvisual {
    width: 100%;
}
#keyvisual_section p.catch.hvc {
    height: 35px;
    padding-top: 35px;
}
#keyvisual_section div#keyvisual span {
    display: block;
    width: 165px;
    margin: 0 auto;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.5px;
}
/* portfolio*/
#portfolio .tab-button sup {
    font-size: inherit;
    line-height: inherit;
    vertical-align: super;
}
section#portfolio button.tab-button:before, section#portfolio button.tab-button.active:before {
    color: rgba(0, 0, 0, 0);
    content: ".";
    font-size: 30px;
    left: 0px;
    pointer-events: none;
    position: absolute;
    text-shadow: rgb(0 0 0 / 0%) 0px 0px;
    top: -42px;
    transition: text-shadow 0.1s ease 0s, color 0.3s ease 0s;
    font-family: 'Montserrat', sans-serif;
}
section#portfolio button.tab-button:hover::before, section#portfolio button.tab-button.active:before {
    color: #222222;
    text-shadow: 7px 0 #222222, 14px 0 #222222, 21px 0 #222222;
}

section#portfolio h3 {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
section#portfolio h2 {
    font-size: 36px;
    font-family: 'DM Mono';
}
section#portfolio .section-title{
    padding-bottom: 75px;
}
section#portfolio button.tab-button.active {
    color: #090909;
}
section#portfolio button.tab-button {
    background: transparent;
    color: #959595;
    border: none;
    box-shadow: none;
    padding: 0;
    margin-right: 45px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}
section#portfolio h3 {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
section#portfolio h2 {
    font-size: 36px;
    font-family: 'DM Mono';
}
div#posts {
    column-count: 3;
    column-gap: 10px;
}
div#posts .item-grid {
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
    margin: 0;
}
div#filters {
    padding-bottom: 30px;
}
div#posts .item-wrap {
    margin: 15px;
}
div#posts .work-item {
    position: relative;
}
div#posts .work-item:before {
    position: absolute;
    content: "";
    background-color: rgba(255, 255, 255, 0.45);
    width: 25%;
    height: 25%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease;
}
div#posts .work-item:hover::before, div#posts .work-item:hover::after {
    opacity: 1;
    width: 100%;
    height: 100%;
}
div#posts .project-description {
    position: absolute;
    bottom: 15px;
    right: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: .3s all ease-in-out;
}
div#posts .project-description h3 {
    position: relative;
    top: 0;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #000;
}
div#posts .work-pic img{
    width: 100%;
}
div#posts .work-item:hover .project-description {
    opacity: 1;
    visibility: visible;
    right: 15px;
    transition-delay: .2s;
}
div#posts h2 {
    font-family: 'DM Mono';
    font-size: 10pt !important;
    margin: 0px 20px 20px 15px;
    text-align: left;
    line-height: 130%;
}
div#posts ul li a, div#posts h3 a {
    color: #000;
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.3s ease;
}
.item-grid {
  float: left;
  display: none;
}

div#posts .show {
  display: block;
}


/* Crasol*/
.carasol {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    padding: 0;
    width: 100%;
}

.Nav {
  display: flex;
  position: relative;
  padding: 5px; /* leave room for SVG stroke */
}

.Nav svg {
  position: absolute;
  top: 0;
  left: 0;
}

.Nav-button {
  background-color: transparent;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  overflow: hidden;
  padding: 0;
  position: relative;
  height: var(--button-size);
  width: var(--button-size);
  border-radius: 50%;
  border: 2px solid var(--border-color);
  z-index: 1;
}

.Nav-button:not(:first-child) {
  margin-left: var(--button-offset);
}

@media (min-width: 600px) {
  .Nav-button {
    height: var(--button-size-md);
    width: var(--button-size-md);
}

.Nav-button:not(:first-child) {
    margin-left: var(--button-offset-md);
}
}

.Nav-button:focus {
  outline: none;
}


.Gallery-wrapper {
  width: var(--gallery-item-size);
  overflow: hidden;
}

.Gallery {
  position: relative;
  margin-bottom: 30px;

}

.Gallery::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  /*background-color: #99dce2;*/
  background-color: #e44b4c;
}

.Gallery-container {
  display: flex;
  transition-property: transform;
  transition-duration: 600ms;
  transition-timing-function: cubic-bezier(0.8, 0, 0.55, 0.94);
}

.Gallery-item {
  flex-shrink: 0;
  padding-right: 20px;
}

.Gallery-itemContent {
  width: var(--gallery-item-size);
  height: calc(var(--gallery-item-size) * .56);
  background-color: #FFF;
  border: 2px solid #99dce2;
  border: 2px solid #e44b4c;
  color: #00e;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.Gallery-item img {
    max-width: 100%;
    max-height: 150px;
}
/*#posts > .item {
    display: flex;
    justify-content: center;
    align-items: center;
}
#posts > .item > .item-wrap {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#posts {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}
#posts .wide {
    grid-column: span 2;
}
#posts .tall {
    grid-row: span 2;
}
#posts .big {
    grid-column: span 2;
    grid-row: span 2;
}
*/
div#\31 1 {
    clear: both;
}


/* Additive page */
section.additive_section {
    background: url('../image/New/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    position: relative;
    background-size: cover;
    height: 100%;
    max-height: 400px;
    z-index: -1;
}
section.footware_contet img.shooe_img {
   width: 100%;
   position: static;
   float: right;
   width: 100%;
   max-height: 130%;
   z-index: 9999;
   background: none;
   opacity: 1;
   width: 25%;
   margin-top: -170px;
}

section.footware_contet .lower_content {
    display: flex;
    justify-content: end;
    position: relative;
}
section.footware_contet p3 {
    position: absolute;
    top: -60px;
    right: 220px;
    padding-left: 46%;
    position: absolute;
    font-family: 'Barlow';
    z-index: 21;
    line-height: 1.4em;
    font-size: 2.36vw;
    text-align: right;
    text-shadow: 1px 1px white;
}
section.footware_contet ins {
    background-color: transparent;
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 100% .55em;
    font-weight: bolder;
    text-decoration: none;
    -webkit-transition: background .3s;
    -o-transition: background .3s;
    transition: background .3s;
    background-image: linear-gradient(to right, #cbf1f7 0%, #cbf1f7 100%);
    font-family: 'Barlow';
    z-index: 21;
    line-height: 1.4em;
    font-size: 2.36vw;
    text-align: right;
    text-shadow: 1px 1px white;
}
.row_padding .text-muted {
    color: #000 !important;
    
}
.text-dark {
    color: #faf9f8!important;
}
.row_padding p.lead, p.em_lead , span.text-muted{
    font-family: Proto Grotesk;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    font-style: normal;
    text-align: left;

}
.row_padding p.youtube {
    font-family: '游ゴシック体', 'Yu Gothic', 'YuGothic', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #000;
    line-height: 24px;
    font-weight: bold;

}
.row_padding h2.featurette-heading {
    color: #000 !important;
    font-size: 14px;
    font-family: '游ゴシック体', 'Yu Gothic', 'YuGothic', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;
    font-weight: 500;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-style: italic;
}
.row_padding .col-md-7.order-md-2 {
    max-width: 60%;
    padding: 0px 112px;
}
/*.row_padding table {
    margin-top: 100px;
    }*/
    .row_padding .table {
        margin-top: 10px;
    }
    .row_padding table tr, .row_padding table td {
        font-family: Proto Grotesk;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        font-style: normal;
        text-align: left;
        padding: .4rem;
        border-bottom: 1px solid #e5e5e5;
    }
    .row_padding a.custom-link {
        color: inherit;
        text-decoration: none;
        background-image: -webkit-gradient(linear, left top, right top, from(#cbf1f7), to(#cbf1f7));
        background-image: -webkit-linear-gradient(left, #cbf1f7 0%, #cbf1f7 100%);
        background-image: -o-linear-gradient(left,  #d7d3ce 0%, #d7d3ce 100%);
        background-image: linear-gradient(to right, #d7d3ce 0%, #d7d3ce 100%);
        background-color: transparent;
        background-position: 0 100%;
        background-repeat: repeat-x;
        background-size: 100% .55em;
        font-weight: bolder;
        text-decoration: none;
        -webkit-transition: background .3s;
        -o-transition: background .3s;
        transition: background .3s;
    }
    .video_gallary{
        padding: 40px 0px;
    }
    section.gallary_footware {
        padding: 60px 0px;
    }
    mark, .custom-link:active {
        background-image: -webkit-gradient(linear, left top, right top, from(#e5e5e5), to(#e5e5e5));
        background-image: -webkit-linear-gradient(left, #e5e5e5 0%, #e5e5e5 100%);
        background-image: -o-linear-gradient(left, #e5e5e5 0%, #e5e5e5 100%);
        background-image: linear-gradient(to right, #e5e5e5 0%, #e5e5e5 100%);
    }

    .row_padding img {
        height: auto;
        max-width: 100%;
    }
    .project-gallery-wrapper .project-gallery-image {
        float: left;
        width: 28.33%;
        margin: 1.2%;
        margin-bottom: 3%;
    }
    .video {
        padding-bottom: 50px;
    }

    .large_img img.myImg {
        max-width: 600px;
    }
    div#myrol {
        padding-top: 150px;
    }

    button.close {
        right: 0;
    }
    .modal-backdrop {
        background-color: #fff;
    }
    div.show {
        padding-right: 0px !important;
    }
/*lightbox
button.close {
    right: 24px;
}
.carousel-control-next {
    right: 100px;
}
.carousel-control-prev {
    left: 80px;
}
.carousel-control-next, .carousel-control-prev {
    opacity: 1;
    width: 100px;
}
.modal-backdrop {
    background: #F5F0FF;
    }*/

    /*resume.html*/
    .custom-link {
        font-size: inherit;
        text-shadow: 1px 1px white;
        background-image: linear-gradient(to right, #d7d3ce 0%, #d7d3ce 100%);
        letter-spacing: .5px;
        background-position: 0 100%;
        background-repeat: repeat-x;
        background-size: 100% .55em;
        color: #000;
        text-decoration: none ! important;
        outline: none;
    }
    .custom-link:hover, .custom-link:focus {
        background-size: 100% 100%;
    }
    .resume-section {
        font-size: 13px;
        font-weight: 500;
        line-height: 1.6;
    }
    .resume-container h2 {
        font-size: 31px;
    }
    .resume-h4 {
      font-size: 18px;
  }
  .resume-image:before {
    position: absolute;
    content: '';
    background: url(../image/img.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 228px;
    height: 228px;
    right: -100px;
    top: -144px;
    z-index: -1;
    opacity: 0.5;
} 
/* Provo Page*/
.provo{
    overflow-x: hidden;
}
img.img-bg {
    background-color: #d7d3ce;
}
.prova_banner_section{
    background: url(../image/banners-provo.png);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    position: relative;
    background-size: cover;
    height: 460px;
    overflow: hidden;
    padding-top: 50px;
}
h1.site_title {
    padding: 0% 0 6% 11.6%;
    max-width: 100%;
    font-family: 'Barlow';
    font-size: 3vw;
    text-align: left;
    z-index: 8;
    text-shadow: 2px 2px white;
    font-weight: 400;
}
.prova_banner_section .saho_text{
    text-decoration: underline;
    color: #989898;
}
 img.provo_right_img.w-100 {
    position: relative;
    bottom: -130px;
}
img.backpack_img {
    max-width: 150px;
    position: relative;
    z-index: 0;
    bottom: -80px;
    right: -100px;
}
.prova_banner_section .p-below-img {
    top: -110px;
}
section#provo_goal.row_padding {
    padding: 0px 10px 50px 10px;
}
#provo_goal p.lead {
    width: 100%;
    max-width: 330px;
}
#provo_goal span.custom-link {
    font-size: 14px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}
.gap_col{
  padding-top: 120px;
}
div#provo_second_row {
    padding: 60px 0px;
}
#provo_second_row .project-gallery-image {
    float: left;
    width: 30.33%;
    margin: 1.2%;
    margin-bottom: 3%;
}
#provo_second_row mark {
    padding: .2em;
    background-color: #fcf8e3;
    background-image: unset;
    font-weight: 600;
}
div#provo_second_row p.lead {
    max-width: 75%;
}
#provo_second_row .prova_bag{
  height: auto;
  max-width: 50%;
  width: 100%;
}

/* XANAX Page*/
section.XANAX_section {
    background: url(../image/XANAX/banner-img-1.png);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    position: relative;
    background-size: cover;
    height: 100%;
    max-height: 400px;
}
p.para {
    font-size: 18px;
}

    ins {
        background-color: transparent;
        background-position: 0 100%;
        background-repeat: repeat-x;
        background-size: 100% .55em;
        font-weight: bolder;
        text-decoration: none;
        -webkit-transition: background .3s;
        -o-transition: background .3s;
        transition: background .3s;
        background-image: linear-gradient(to right, #d7d3ce 0%, #d7d3ce 100%);
        font-size: 20px;
    }
    .unity{
        font-size: 14px; 
    }


    .image_col img{
        width: 100%;
        position: absolute;
        top: -125px;
        right: 10px;
    }
    .content_xanax p {
        font-family: 'Barlow';
        font-size: 42px;
        text-align: right;
        font-weight: 600;
    }
    section#XANAX_goal ins {
        font-size: 13px;
        line-height: 2px;
        margin: 0px !important;
        background-image: linear-gradient(to right, #d7d3ce 0%, #d7d3ce 100%);
        background-color: transparent;
        background-position: 0 100%;
        background-repeat: repeat-x;
        background-size: 100% .55em;
        font-weight: bolder;
        text-decoration: none;
        -webkit-transition: background .3s;
        -o-transition: background .3s;
        transition: background .3s;
    }
    section#XANAX_goal .tech_text {
        width: 80%;
    }
    .XANAX_gap_col{
     padding-top: 100PX;
 }
 #XANAX_second_row p.lead {
    width: 85%;
}
#XANAX_second_row mark {
    background-color: transparent;
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 100% .55em;
    font-weight: bolder;
    text-decoration: none;
    -webkit-transition: background .3s;
    -o-transition: background .3s;
    transition: background .3s;
    background-image: linear-gradient(to right, #e5e5e5 0%, #e5e5e5 100%);
    font-size: 15px;
    font-weight: 400;
}
.row_padding blockquote {
    font-size: 20px;
    font-weight: 500;
    position: relative;
    font-family: '游ゴシック体', 'Yu Gothic', 'YuGothic', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;
}
.row_padding blockquote:before {
    content: '"';
    position: absolute;
    left: 0px;
    font-family: sans-serif;
    font-size: 6rem;
    line-height: 1;
    color: #e5e5e5;
    top: -40px;
}
.last_para b {
    font-size: 14px;
    font-weight: 500;
}
section#XANAX_goal {
    padding: 250px 0;
}

/* Wbx */
section.wbx_banner {
    background: url(../image/wbx/banner-1.png);
    background-repeat: no-repeat;
    background-position: center;
    /*  opacity: 0.7;*/
    position: relative;
    background-size: cover;
    height: 100%;
    max-height: 300px;
    
}
section.wbx_banner .p-right-img {
    right: 200px;
    top: -60px;
}
.wbx_banner a.saho_text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    min-height: 250px;
    text-decoration: underline;
    color: #989898;
}
h1.title_row.lh-1 {
    line-height: 65px;
}
.wbx_banner img#right_img{
    position: relative;
    bottom: -150px;
    width: 100%;
    max-width: 250px;
    float: right;
    opacity: 0.6;

}
.contetnt_section .firstsec_content p {
    font-family: 'Barlow';
    font-size: 38px;
    text-align: right;
    font-weight: 600;
}

.contetnt_section img {
    width: 100%;
    max-width: 170px;
}
.wbx_table{
    margin-top: 170px;
}
section#wbx_goal {
    padding: 50px 0px;
}
table.wbx_table {
    margin-top: 180px;
}
/*RCB.html*/
/*.bg-purple {
    background-color: #c5b3ff;
    }*/
    blockquote.lead.mt-5.w-75 {
        font-size: 18px;
    }
    section.rcb_section {
        background: url('../image/RCB/banner.png');
        background-repeat: no-repeat;
        background-position: center;
        opacity: 1;
        position: relative;
        background-size: cover;
        height: 100%;
        max-height: 460px;
        z-index: 1;
    }
    .p-right-img {
     opacity: 0.6;
 }
 .lower_content p3 {
    font-family: 'Barlow';
    z-index: 21;
    line-height: 1.4;
    font-size: 2.36vw;
    text-shadow: 1px 1px white;
}
.lower_content ins {
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 100% .55em;
    -webkit-transition: background .3s;
    -o-transition: background .3s;
    transition: background .3s;
    background-image: linear-gradient(to right, #cbf1f7 0%, #cbf1f7 100%);
    text-shadow: 1px 1px white;
    font-size: 2.36vw;
}
.below-banner {
    padding-top: 250px;
}
.p-right-img {
    right: 0px;
    top: -60px;
}
.p-below-img {
    top: -125px;
}
.pt-custom {
  padding-top: 185px;
}
section#rcb_goal, section#levi_goal {
    padding: 0px 0px 50px 0px;
}
/* Levi Page*/
section.levi_section {
    background: url('../image/LEVI/bannersaveas.png');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    position: relative;
    background-size: cover;
    height: 100%;
    max-height: 460px;
    z-index: 1;
}
section.levi_section .p-below-img {
    left: 40px;
    max-width: 150px;
    top: 0px;
}
h2.para.mb-5.pb-5 {
    font-size: 20px;
}
.row_padding  .levi_table{
    margin-top: 0px;
}
div#levi_content p {
    width: 90%;
}
#levi_content mark {
    background-color: transparent;
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 103% 0.65em;
    font-weight: bolder;
    text-decoration: none;
    -webkit-transition: background .3s;
    -o-transition: background .3s;
    transition: background .3s;
}
.r-img img.featurette-image {
    width: 100%;
    max-width: 85%;
    padding-top: 34px;
}
/* XYZAR page*/
.saho_text p {
    text-decoration: underline;
    color: #989898;
    font-family: 'Barlow';
    font-size: 3vw;
    z-index: 8;
    text-shadow: 2px 2px white;
}
.xyzar_section{
    background: url('../image/XYZAR/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    position: relative;
    background-size: cover;
    height: 100%;
    max-height: 460px;
    z-index: 1;
}
@media (min-width: 600px) {
    .Gallery-item img {
        max-height: 300px;
    }
    .Gallery-wrapper {
        width: var(--gallery-item-size-md);
    }
    .Gallery-itemContent {
        width: var(--gallery-item-size-md);
        height: calc(var(--gallery-item-size-md) * .56);
    }
}
@media (min-width: 1199px) {
    .product-gallery .container {
        max-width: 1600px;
    }
    .p-title h2 {
        font-size: 80px;
    }
}
@media (max-width: 1140px) {
    .pt-custom.mob-padding {
      padding-top: 210px;
  }
}

@media (max-width: 1200px) {
    .p-title h2 {
        font-size: 36px;
    }
    .single-row p, .grid p, .grid ul a {
        font-size: 15px;
    }
}
@media (max-width: 767px) {
 .resume-image:before {
    transform: scale(0.7);
}
.circle-shape-title:before {
    transform: scale(0.5);
}

.hover-desc {
    opacity: 1;
}
.grid .item-wrap img, .full-width-row img, .grid .grid-item {
    max-height: 100%;
    min-height: 100%;
    height: 100%;
}
.g-desc h3{
    font-size: 18px;
}
.overlap-image .work-pic img {
    width: 100%;
    max-width: 50%;
}
.image_col img {
    width: 20%;
    position: absolute;
    top: -125px;
    right: 10px;
}
.title_row ins {
    font-size: 26px;
}
.content_xanax p {
    font-family: 'Barlow';
    font-size: 18px;
    text-align: left;
    font-weight: 600;
}

}
@media (max-width: 992px) and (min-width: 767px){
    .bubble-shape .prj-img {
        width: 200px;
        height: 200px;
    }
    .diagonal-shape .prj-img {
        width: 100%;
        max-width: 200px;
    }
    .diagonal-shape .prj-img:before {
        border-left: 67px solid transparent;
        border-right: 67px solid transparent;
    }
    .diagonal-shape .prj-img:after {
        content: "";
        border-left: 67px solid transparent;
        border-right: 67px solid transparent;
    }
    .grid img {
        max-height: 170px;
    }
    .left-triangle-shape:after {
        border-right: 240px solid transparent;

    }
    .title_row ins {
        font-size: 22px;
    }
    .content_xanax p {
        font-size: 22px;

    }
    .contetnt_section .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 50.333333%;
        max-width: 49.333333%;
    }
    .empty_div {
        display: none;
    }
    .contetnt_section .firstsec_content p {
        font-size: 32px;
    }
    section#wbx_goal {
        padding: 60px 0px;
    }
    table.wbx_table {
        margin-top: 0px;
    }
    h1.title_row.lh-1 {
        line-height: 26px;
    }
    .p-below-img {
        top: 0px;
    }
    section#rcb_goal, section#levi_goal{
        padding: 100px 0px;
    }
    .saho_text p {
        font-size: 10vw;
    }
    section.prova_banner_section img.w-100.p-right-img.position-absolute.mob-img {
    bottom: 40px;
    max-width: 145px !important;
    right: 0px !important;
    top: 30px !important;
}
.prova_banner_section .p-below-img {
    top: -80px;
}
}
@media (max-width: 1024px) and (min-width: 992px){
    .left-triangle-shape:after {
        border-right: 320px solid transparent;
    }
    h1.site_title {
        font-size: 10vw;
    }
    .content_xanax p {
        font-size: 30px;
        text-align: left;
    }
    .title_row ins {
        font-size: 34px;
    }
    section#rcb_goal, section#levi_goal {
        padding: 100px 0px;
    }
    .saho_text p {
        font-size: 10vw;
    }
}

@media (max-width: 587px) {
    .p-title h2 {
        font-size: 30px;
    }
    .right-top-shape:after {
        border-left: 260px solid transparent;
    }
    .oveflow-hidden > img:last-of-type {
        display: none;
    }
}
/*End tangibleStorytelling.html*/
@media screen and (max-width: 1440px) {
    .section.about {
        height: auto;
    }
}
@media screen and (max-width: 1024px) {
    div#horizontal_slider .custom_container {
        width: auto;
        margin: 0 12px;
    }

    .flowchart_img img {
        width: 700px;
    }

    div#svg_img {
        display: none;
    }

    .section1 {
        font-size: 37px;
    }
    .w-75 {
        width: 100% !important;
        padding: 0px 10px;
    }
    .row_padding blockquote {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    /*tangibleStorytelling.html*/
    .space-5 {
        height: 500px;
    }
    /*forFun.html*/
    .hover-desc {
        opacity: 1;
    }
    /*End forFun.html*/

    /* overlapping images responsive*/
    .imageoverimage {
        text-align: -webkit-center;
        margin-right: 130px;
    }
    img.image_width {
        width: 300px;
    }
    .image.img1 {
        height: 100.63px;
        width: 300px;
    }
    .image.img2 {
        position: relative;
        top: -45px;
        left: 66px;
        width: 300px;
    }
    .image.img3 {
        top: -197px;
        left: 136px;
        position: relative;
        width: 300px;
    }

    .flowchart_img img {
        width: 400px;
    }
    .large-title{
        font-size: 62px;
    }
    .vl{
        border-left: 0px;
    }
    .bg-img {
        background-position: top 1px right 40px;
        background-size: 100px;
    }
    section#photos {
        padding: 30px 0px;
    }
    section#photos .container.bg-img {
        padding: 0px 70px;
    }
    .banner_content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        min-height: unset;
    }
    div#posts .item-grid {
        width: 100%;
        float: left;
    }
    div#posts {
        column-count: unset;
        column-gap: unset;
    }
    div#posts .item-grid {
        padding: 0px 20px;
    }
    .product-gallery .grid img {
        max-height: 260px;
        width: 100%;
    }
    div#provo_second_row p.lead {
        max-width: 100%;
        padding: 0px 20px;
    }
    h1.site_title {
        font-size: 11vw;
    }
    
}

@media screen and (max-width: 587px) {
    .resume-image:before {
        transform: scale(0.5);
        right: -50px;
        top: -130px;
    }
    .resume-container h2 {
        font-size: 24px;
    }
    h1, h1.display-1 {
        font-size: 36px;
    } 
    .top-stuck h1 {
        font-size: 30px;
    }
    p, body, h5, .g-desc h3, .single-row p, .grid p, .grid ul a {
        font-size: 15px;
    }
    /*forFun.html*/
    .g-desc {
        margin-top: 0;
    }
    .g-image img {
        max-height: 200px;
        min-height: 200px;
    }
    /*tangibleStorytelling.html*/

    .space-5 {
        height: 360px;
    }
    .p-circle-animate {
        width: 130px;
    }
    .p-circle-animate {
        right: -100px;
    }
    /*index1.html*/

    #horizontal_slider .sticky-container {
        height: 100% ! important;
    }
    #horizontal_slider .custom_main {
        overflow-x: scroll;
        min-width: 320px;
    }
}
@media screen and (max-width: 425px) {
    .section1{
        font-size: 32px;
        letter-spacing: 1px;
    }
    .section1.about {
        padding: 28px;
    }

    /* overlapping images responsive*/
    .image.img3 {
        top: -93px;
        left: 128px;
        position: relative;
        width: 200px;
    }
    .image.img2 {
        position: relative;
        top: 0;
        left: 89px;
        width: 200px;
    }
    .image.img1 {
        height: 42.63px;
        width: 100px;
    }
    img.image_width {
        width: 200px;
    }
    .imageoverimage {
        text-align: -webkit-center;
        margin-right: 180px;
    }

    .flowchart_img img {
        width: 300px;
    }
    h1.site_title {
        font-size: 12vw;
    }
}
@media screen and (max-width: 375px) {
    .section1 {
        font-size: 25px;
    }
}

@media screen and (max-width: 375px) {
    /* overlapping images responsive*/
    img.image_width {
        width: 157px;
    }
    .image.img3 {
        top: -83px;
        left: 81px;
        position: relative;
        width: 200px;
    }
    .image.img2 {
        position: relative;
        left: 36px;
        width: 200px;
        top: -8px;
    }
}


/*.sticky-container {
    background-color: #c5b3ff;
    }*/
/*section{
    background-color: #c5b3ff;
    }*/
    @media(max-width:1200px){
        section.custom_section{
            min-width:auto;
        }
        .custom_section img {
            width: 100vw;
        }
        section#XANAX_goal iframe {
            width: 100%;
        }
    }
    @media(max-width:576px){
        .sticky-container{
            max-height:660px;
        }
        main.custom_main{
            overflow-x:scroll;
        }
    }
    @media (min-width: 1200px){
        .modal-xl {
            width: 100%;
        }
        .saho_text {
            justify-content: center;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            min-height: 200px;
        }
    }
    @media (max-width: 320px){
        section.levi_section .p-below-img {
            left: 10px !important;
            max-width: 75px !important;
            top: 50px !important;
        }
    }
    @media (max-width: 767px){
      .cu_div {
        max-width: 100%;
        position: relative;

    }
    img.provo_right_img.w-100 {
        position: relative;
        bottom: 40px;
        max-width: 145px;

    }
    img.backpack_img {
     position: relative;
     bottom: 70px;
     max-width: 126px;
 }
 section#XANAX_goal .row.featurette {
    width: 100%;
}
section#XANAX_goal .tech_text, #XANAX_second_row p.lead, section#XANAX_goal iframe {
    width: 100%;
}
.row.featurette {
    padding: 0px 12px;
}
section.contetnt_section {
    padding: 60px 0px;
}
.firstsec_content h1.title_row.text-right.lh-1 {
    text-align: left !important;
}
.contetnt_section .firstsec_content p {
    font-size: 30px;
    text-align: left;
}
.contetnt_section img {
    width: 100%;
    max-width: 100%;
}
section#wbx_goal {
    padding: 0px 0px;
}
table.wbx_table {
    margin-top: 0px;
}
h1.title_row.lh-1 {
    line-height: 34px;
}
.p-right-img {
    right: -45px;
    top: -60px;
}
.p-below-img {
    top: 39px;
}
.pt-custom {
  padding-top: 50px;
}
.pt-custom.mob-padding {
  padding-top: 100px;
}
.p-below-img {
    top: -200px;
    left: 0;
    right: 0;
    padding-top: -1px;
    margin-left: 136px;
    max-width: 115px;
}
.rcb_section .mob-img{
    position: unset !important;
}
section#rcb_goal, section#levi_goal {
    padding: 0px 0px;
}
section#rcb_goal p.mb-0.pt-5.mt-5 , section#levi_goal p.mb-0.pt-5.mt-5{
    padding: 0px !important;
    margin: 0px !important;
}

html {
    overflow-x: hidden;
}
section.levi_section .p-below-img {
    left: 45px;
    max-width: 106px;
    top:50px;
}
section.levi_section  ins.font-weight-bold.bg-transparent {
    font-size: 18px;
}
.r-img img.featurette-image {
    width: 100%;
    max-width: 100%;

}
.saho_text p {
    font-size: 9vw;
}
ins, .row_padding p.lead, .row_padding table tr, .row_padding table td, p.para{
   font-size: 16px;
}
.empty {
    display: none;
}
.prova_banner_section{
    height: 360px;
}
section.prova_banner_section img.w-100.p-right-img.position-absolute.mob-img {
    position: relative !important;
    bottom: 40px;
    max-width: 145px !important;
    right: 0px !important;
    top: 0px !important;
}
.prova_banner_section .p-below-img {
    top: -160px;
}
}